{
  "openapi": "3.0.3",
  "info": {
    "title": "Revrec APIs",
    "version": "1.9.0"
  },
  "servers": [
    {
      "url": "https://revrec.recurly.com"
    }
  ],
  "tags": [
    {
      "name": "Inbound APIs"
    },
    {
      "name": "Outbound Report APIs"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your API key as the username and leave the password blank.\n\nExample:\nAuthorization: Basic <base64(apiKey:)>"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/stage/saveOrderLines": {
      "post": {
        "tags": [
          "Inbound APIs"
        ],
        "summary": "Save Order Lines",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "OrdNumber": {
                      "type": "string",
                      "description": "Order number is the subscription ID of the line"
                    },
                    "OrdLine": {
                      "type": "string",
                      "description": "Order line is the origin or addon line id of the charge line"
                    },
                    "ConfirmDate": {
                      "type": "string",
                      "description": "Confirm Date captures the contract's effective date for system processing and allocation"
                    },
                    "SellPrice": {
                      "type": "number",
                      "description": "Sell Price is the total sale value of the contract line"
                    },
                    "ListPrice": {
                      "type": "number",
                      "description": "The list price is the price of the subscription/item before the discount and coupons"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "The currency in which the subscription is billed"
                    },
                    "CompanyCurrency": {
                      "type": "string",
                      "description": "Company Currency is the base or company currency for the entity, which is required if it differs from the transaction currency"
                    },
                    "CExRate": {
                      "type": "number",
                      "description": "The Company Exchange Rate is the exchange rate between the transaction currency and the entity currency, which is required if they are different currencies"
                    },
                    "GExRate": {
                      "type": "number",
                      "description": "The Global/Reporting Exchange Rate is the exchange rate between the entity currency and the reporting currency which is required if they are different currencies"
                    },
                    "StartDate": {
                      "type": "string",
                      "description": "The Start Date represents the beginning of the service term (if applicable) for the contract line item. This date is used for allocation over time"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "The End Date represents the end of the service term (if applicable) for the contract line item. This date is used for allocation over time"
                    },
                    "DeliveryDate": {
                      "type": "string",
                      "description": "The Delivery Date represents the delivery date of the item"
                    },
                    "Quantity": {
                      "type": "number",
                      "description": "Quantity of the item sold on the order line"
                    },
                    "Term": {
                      "type": "number",
                      "description": "Term identifies the number of billing or service units associated with the order line, based on the source system contract structure."
                    },
                    "Duration": {
                      "type": "number",
                      "description": "Duration of the service/contract in months"
                    },
                    "SSP": {
                      "type": "number",
                      "description": "Standalone Selling Price is the fair value to use for the contract line's allocation when an SSP from outside the Recurly RevRec system is required"
                    },
                    "CV": {
                      "type": "number",
                      "description": "CV is the carve-out value or adjusted allocation value used when a line requires a specific allocation treatment."
                    },
                    "Item": {
                      "type": "string",
                      "description": "Item is the name or SKU of the contract line item"
                    },
                    "Customer": {
                      "type": "string",
                      "description": "Customer is the name of the end-customer associated with the subscription"
                    },
                    "DRAccount": {
                      "type": "string",
                      "description": "This field holds the Dr Account, which would be the liability account for a revenue line. If this value is not included, the Recurly RevRec system will default to the Liability account of the associated sales order/contract line"
                    },
                    "CRAccount": {
                      "type": "string",
                      "description": "This field holds the Cr Account.For a revenue line, this would be the revenue account. For a cost line, this would be the COGS account"
                    },
                    "BaseAmount": {
                      "type": "number",
                      "description": "The baseAmount is used for lines where only a portion of the Sell Price should be used for allocation. Any Sell Price amount above the baseAmount for this line will be considered an overage by Recurly RevRec and recognized point in time"
                    },
                    "ExpectedRnwl": {
                      "type": "number",
                      "description": "Expected renewal represents the estimated renewal amount or renewal indicator associated with the order line."
                    },
                    "FINPct": {
                      "type": "number",
                      "description": "SFC interest rate"
                    },
                    "Company": {
                      "type": "string",
                      "description": "Company identifies the legal entity, business unit, or company code associated with the order line."
                    },
                    "ObjectType": {
                      "type": "number",
                      "description": "Object Type identifies the source object classification for the order line record."
                    },
                    "Allocation": {
                      "type": "boolean",
                      "description": "The Allocation element identifies whether a line is eligible to participate in the allocation of revenue across a revenue arrangement"
                    },
                    "RightToBill": {
                      "type": "boolean",
                      "description": "Right To Bill identifies whether billing rights have been established for the order line."
                    },
                    "F1": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F2": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F3": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F4": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F5": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F6": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F7": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F8": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F9": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F10": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F11": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F12": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F13": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F14": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F15": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F16": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F17": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F18": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F19": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F20": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F21": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F22": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F23": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F24": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F25": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F26": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F27": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F28": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F29": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F30": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F31": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F32": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F33": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F34": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F35": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F36": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F37": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F38": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F39": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F40": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F41": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F42": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F43": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F44": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F45": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F46": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F47": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F48": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F49": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F50": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F51": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F52": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F53": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F54": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F55": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F56": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F57": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F58": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F59": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    },
                    "F60": {
                      "type": "string",
                      "description": "Fields F1-F60 are flex fields that can be configured in the Recurly RevRec system for additional contract line attributes"
                    }
                  }
                }
              },
              "example": [
                {
                  "OrdNumber": "200",
                  "OrdLine": "1",
                  "ConfirmDate": "2020-10-10T00:00:00Z",
                  "SellPrice": 1900,
                  "ListPrice": 2000,
                  "Currency": "USD",
                  "CompanyCurrency": "USD",
                  "CExRate": 1,
                  "GExRate": 1,
                  "StartDate": "2020-10-01T00:00:00Z",
                  "EndDate": "2020-10-30T00:00:00Z",
                  "DeliveryDate": "2020-10-10T00:00:00Z",
                  "Quantity": 1,
                  "Term": 1,
                  "Duration": 1,
                  "SSP": 0,
                  "CV": 0,
                  "Item": "Abc",
                  "Customer": "ABC123",
                  "DRAccount": "11",
                  "CRAccount": "22",
                  "BaseAmount": 0,
                  "ExpectedRnwl": 0,
                  "FINPct": 0,
                  "Company": "abc",
                  "ObjectType": 0,
                  "Allocation": false,
                  "RightToBill": true,
                  "F1": "Value 1",
                  "F2": "Value 2",
                  "F3": "Value 3",
                  "F4": "Value 4",
                  "F5": "Value 5",
                  "F6": "Value 6",
                  "F7": "Value 7",
                  "F8": "Value 8",
                  "F9": "Value 9",
                  "F10": "Value 10",
                  "F11": "Value 11",
                  "F12": "Value 12",
                  "F13": "Value 13",
                  "F14": "Value 14",
                  "F15": "Value 15",
                  "F16": "Value 16",
                  "F17": "Value 17",
                  "F18": "Value 18",
                  "F19": "Value 19",
                  "F20": "Value 20",
                  "F21": "Value 21",
                  "F22": "Value 22",
                  "F23": "Value 23",
                  "F24": "Value 24",
                  "F25": "Value 25",
                  "F26": "Value 26",
                  "F27": "Value 27",
                  "F28": "Value 28",
                  "F29": "Value 29",
                  "F30": "Value 30",
                  "F31": "Value 31",
                  "F32": "Value 32",
                  "F33": "Value 33",
                  "F34": "Value 34",
                  "F35": "Value 35",
                  "F36": "Value 36",
                  "F37": "Value 37",
                  "F38": "Value 38",
                  "F39": "Value 39",
                  "F40": "Value 40",
                  "F41": "Value 41",
                  "F42": "Value 42",
                  "F43": "Value 43",
                  "F44": "Value 44",
                  "F45": "Value 45",
                  "F46": "Value 46",
                  "F47": "Value 47",
                  "F48": "Value 48",
                  "F49": "Value 49",
                  "F50": "Value 50",
                  "F51": "Value 51",
                  "F52": "Value 52",
                  "F53": "Value 53",
                  "F54": "Value 54",
                  "F55": "Value 55",
                  "F56": "Value 56",
                  "F57": "Value 57",
                  "F58": "Value 58",
                  "F59": "Value 59",
                  "F60": "Value 60"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order lines saved"
          }
        }
      }
    },
    "/api/stage/saveDocLines": {
      "post": {
        "tags": [
          "Inbound APIs"
        ],
        "summary": "Save Document Lines",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ProcessedFlag": {
                      "type": "string",
                      "description": "Indicates the current state of doc line"
                    },
                    "OrdNumber": {
                      "type": "string",
                      "description": "The Sales Order Number of the associated sales order/contract line that is critical to reference the bill line to a contract."
                    },
                    "OrdLine": {
                      "type": "string",
                      "description": "The Sales Order Line of the associated sales order/contract line that is critical to reference the bill line to a contract."
                    },
                    "DocType": {
                      "type": "string",
                      "description": "The Doc Type identifies the bill line as a particular invoice or credit line, and it determines the action the Recurly RevRec system will perform on the line."
                    },
                    "DocNumber": {
                      "type": "string",
                      "description": "This is commonly the invoice or credit memo number. The combination of Doc Line + Doc Number must be unique for each bill line in Recurly RevRec"
                    },
                    "DocLine": {
                      "type": "string",
                      "description": "This is commonly the invoice or credit memo line. The combination of Doc Line + Doc Number must be unique for each bill line in Recurly RevRec"
                    },
                    "DocDate": {
                      "type": "string",
                      "description": "Doc Date is the invoice or credit memo date that is used to record the liability balance in the Recurly RevRec system"
                    },
                    "RefDocNumber": {
                      "type": "string",
                      "description": "For credit memo lines, the Reference Doc Number is the invoice number with which the credit memo is associated. This value is critical to link a credit memo to its parent invoice."
                    },
                    "RefDocLine": {
                      "type": "string",
                      "description": "For credit memo lines, the Reference Doc Line is the invoice line with which the credit memo is associated. This value is critical to link a credit memo to its parent invoice"
                    },
                    "Amount": {
                      "type": "number",
                      "description": "The Amount is the key element to be posted and represents the total value of the doc line"
                    },
                    "Quantity": {
                      "type": "number",
                      "description": "Quantity of the item sold on the bill line"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency is the transaction currency for the bill line"
                    },
                    "CompanyCurrency": {
                      "type": "string",
                      "description": "Company Currency is the base or company currency for the entity, which is required if it differs from the transaction currency."
                    },
                    "CExRate": {
                      "type": "number",
                      "description": "The Company Exchange Rate is the exchange rate between the transaction currency and the entity currency, which is required if they are different currencies"
                    },
                    "GExRate": {
                      "type": "number",
                      "description": "The Global/Reporting Exchange Rate is the exchange rate between the entity currency and the reporting currency which is required if they are different currencies"
                    },
                    "StartDate": {
                      "type": "string",
                      "description": "The Start Date represents the beginning of the service term (if applicable) for the bill line item"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "The End Date represents the end of the service term (if applicable) for the bill line item"
                    },
                    "DRAccount": {
                      "type": "string",
                      "description": "This field holds the Debit Account for the invoice line."
                    },
                    "CRAccount": {
                      "type": "string",
                      "description": "This field holds the Credit Account for the invoice line."
                    },
                    "CreditRule": {
                      "type": "string",
                      "description": "The Credit Rule is only applicable for credit memo lines, and it determines how the system will apply the credit amount to revenue"
                    },
                    "ObjectType": {
                      "type": "integer",
                      "description": "Object Type identifies the source object classification for the document line record."
                    },
                    "CanceledBill": {
                      "type": "boolean",
                      "description": "Canceled Bill indicates whether the document line represents a cancellation or reversal of a previously billed line."
                    },
                    "AutoBill": {
                      "type": "boolean",
                      "description": "Auto Bill indicates whether the billing record was generated automatically by the source workflow or system."
                    },
                    "F1": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional bill line attributes"
                    },
                    "F2": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional bill line attributes"
                    },
                    "F3": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional bill line attributes"
                    },
                    "F4": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional bill line attributes"
                    },
                    "F5": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional bill line attributes"
                    }
                  }
                }
              },
              "example": [
                {
                  "ProcessedFlag": "Y",
                  "OrdNumber": "SO-001",
                  "OrdLine": "1",
                  "DocType": "INV",
                  "DocNumber": "INV-1001",
                  "DocLine": "1",
                  "DocDate": "2025-08-01",
                  "RefDocNumber": "CM-1001",
                  "RefDocLine": "1",
                  "Amount": 1500,
                  "Quantity": 2,
                  "Currency": "USD",
                  "CompanyCurrency": "USD",
                  "CExRate": 1,
                  "GExRate": 1,
                  "StartDate": "2025-08-01",
                  "EndDate": "2025-08-31",
                  "DRAccount": "Accounts Receivable",
                  "CRAccount": "Revenue",
                  "CreditRule": "PRORATE",
                  "ObjectType": 1,
                  "CanceledBill": false,
                  "AutoBill": true,
                  "F1": "Value 1",
                  "F2": "Value 2",
                  "F3": "Value 3",
                  "F4": "Value 4",
                  "F5": "Value 5"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Doc lines saved"
          }
        }
      }
    },
    "/api/stage/saveCostLines": {
      "post": {
        "tags": [
          "Inbound APIs"
        ],
        "summary": "Save Cost Lines",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ProcessedFlag": {
                      "type": "string",
                      "description": "Indicates the current state of the cost line"
                    },
                    "OrdNumber": {
                      "type": "string",
                      "description": "The Sales Order Number of the associated sales order/contract line is critical to reference the cost to a contract"
                    },
                    "costTypeID": {
                      "type": "string",
                      "description": "Cost Type ID associates the cost line with a Cost Type configured in Recurly RevRec"
                    },
                    "costID": {
                      "type": "string",
                      "description": "Cost ID is unique identifier for the given cost type. It could be mapped to any extended fields like Sales Representative Name. If nothing is provided one cost line per one cost type is allowed"
                    },
                    "OrdLine": {
                      "type": "string",
                      "description": "The Sales Order Line of the associated sales order/contract line is critical to reference the cost to a contract"
                    },
                    "Amount": {
                      "type": "number",
                      "description": "The Cost Amount is the key element to be posted, and represents the total value of the cost line"
                    },
                    "EstmtdAmt": {
                      "type": "number",
                      "description": "The Estimated Cost Amount"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Cost Currency is the transaction currency for the cost line"
                    },
                    "CompanyCurrency": {
                      "type": "string",
                      "description": "Company Currency is the base or company currency for the entity, which is required if it defers from the transaction currency"
                    },
                    "CExRate": {
                      "type": "number",
                      "description": "The Company exchange Rate is the exchange rate between the transaction currency and the entity currency, which is required if they are different currencies"
                    },
                    "GExRate": {
                      "type": "number",
                      "description": "The Global/Reporting Exchange Rate is the exchange rate between the entity currency and the reporting currency which is required if they are different currencies"
                    },
                    "StartDate": {
                      "type": "string",
                      "description": "The start date represents the start of the service term (if applicable) for the cost line item"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "The end date represents the end of the service term (if applicable) for the cost line item. This date is used for allocation over time"
                    },
                    "DRAccount": {
                      "type": "string",
                      "description": "This field holds the Dr Account, which would be the DCOGS account for a COGS line"
                    },
                    "CRAccount": {
                      "type": "string",
                      "description": "This field holds the Cr Account, which would be the Recognized Cost account for a Cost line."
                    },
                    "ObjectType": {
                      "type": "integer",
                      "description": "Object Type identifies the source object classification for the cost line record."
                    },
                    "F1": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F2": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F3": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F4": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F5": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F6": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F7": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F8": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F9": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F10": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F11": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F12": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F13": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F14": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    },
                    "F15": {
                      "type": "string",
                      "description": "Fields F1-F15 are flex fields that can be configured in the Recurly RevRec system for additional cost line attributes."
                    }
                  }
                }
              },
              "example": [
                {
                  "ProcessedFlag": "Y",
                  "OrdNumber": "SO-200",
                  "OrdLine": "3",
                  "Amount": 500,
                  "EstmtdAmt": 550,
                  "Currency": "USD",
                  "CompanyCurrency": "USD",
                  "CExRate": 1,
                  "GExRate": 1,
                  "StartDate": "2025-08-01",
                  "EndDate": "2025-08-31",
                  "DRAccount": "COGS",
                  "CRAccount": "Commission Payable",
                  "ObjectType": 2,
                  "F1": "Value 1",
                  "F2": "Value 2",
                  "F3": "Value 3",
                  "F4": "Value 4",
                  "F5": "Value 5",
                  "F6": "Value 6",
                  "F7": "Value 7",
                  "F8": "Value 8",
                  "F9": "Value 9",
                  "F10": "Value 10",
                  "F11": "Value 11",
                  "F12": "Value 12",
                  "F13": "Value 13",
                  "F14": "Value 14",
                  "F15": "Value 15"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost lines saved"
          }
        }
      }
    },
    "/api/stage/saveEvents": {
      "post": {
        "tags": [
          "Inbound APIs"
        ],
        "summary": "Save Events",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "OrdNumber": {
                      "type": "string",
                      "description": "The Sales Order number of the targeted sales order/contract line for the action of the business event."
                    },
                    "OrdLine": {
                      "type": "string",
                      "description": "The Sales Order Line number of the targeted sales order/contract line for the action business event."
                    },
                    "EventAction": {
                      "type": "number",
                      "description": "Action defines the treatment that the Recurly RevRec system will apply to the targeted item using the business event attributes."
                    },
                    "AccountMethod": {
                      "type": "number",
                      "description": "The revenue method controls how over time revenue is calculated per period. (This is an optional field that is available for advanced use cases; revMethod is usually controlled through performance obligation configuration.) "
                    },
                    "ValueType": {
                      "type": "integer",
                      "description": "1 = Percent, 2 = Amount, 3 = Quantity"
                    },
                    "Value": {
                      "type": "number",
                      "description": "Value is the numeric amount, percentage, or quantity applied by the event, depending on the selected Value Type."
                    },
                    "StartDate": {
                      "type": "string",
                      "description": "The Start Date field can be used in conjunction with End Date and revMethod to recognize a particular amount of the targeted revenue line over time between two dates (e.g. recognize $20 between Start Date and End Date calculated Daily)."
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "The end date represents the end of the event."
                    },
                    "ReleaseDate": {
                      "type": "string",
                      "description": "The release date is the date that the action will be applied to the targeted item. Unlike effective date, the action will be applied immediately to dates in future accounting periods as well (i.e. in waterfall reports)."
                    },
                    "ExpireDate": {
                      "type": "string",
                      "description": "The Expire Date is used for events meant to update the expiry date of a referenced revenue hold. "
                    },
                    "EffectiveDate": {
                      "type": "string",
                      "description": "The effective date is used when the business event should not be applied until a future period. Events with an effect date in a future accounting period will not apply any actions to a targeted line until that period is opened in the system"
                    },
                    "Account": {
                      "type": "string",
                      "description": "This field holds the Cr Account. For a revenue line, this would be the revenue account. For a cost line, this would be the COGS account"
                    },
                    "Comments": {
                      "type": "string",
                      "description": "Comments stores free-form notes or business context associated with the event."
                    },
                    "F1": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional event attributes."
                    },
                    "F2": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional event attributes."
                    },
                    "F3": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional event attributes."
                    },
                    "F4": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional event attributes."
                    },
                    "F5": {
                      "type": "string",
                      "description": "Fields F1-F5 are flex fields that can be configured in the Recurly RevRec system for additional event attributes."
                    }
                  }
                }
              },
              "example": [
                {
                  "OrdNumber": "SO-500",
                  "OrdLine": "1",
                  "EventAction": 1,
                  "AccountMethod": 2,
                  "ValueType": 1,
                  "Value": 15,
                  "StartDate": "2025-08-01",
                  "EndDate": "2025-08-31",
                  "ReleaseDate": "2025-08-10",
                  "ExpireDate": "2025-09-30",
                  "EffectiveDate": "2025-08-01",
                  "Account": "DeferredRevenue",
                  "Comments": "Promo adjustment event",
                  "F1": "Q3",
                  "F2": "Regional",
                  "F3": "SpecialEvent",
                  "F4": "Campaign42",
                  "F5": "Approved"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events saved"
          }
        }
      }
    },
    "/api/books/cleanPipelineData": {
      "put": {
        "tags": [
          "Inbound APIs"
        ],
        "summary": "Clean Pipeline Data",
        "parameters": [
          {
            "name": "bookId",
            "description": "Book ID is the ID for the book to be included in the requested report. ",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline data cleaned"
          }
        }
      }
    },
    "/api/upload/uploadTranFile": {
      "post": {
        "tags": [
          "Inbound APIs"
        ],
        "summary": "Upload transaction file",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the upload to show in the UI. Passed as URL parameter",
            "required": true,
            "schema": {
              "type": "string",
              "example": "SO Demo"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the upload File. Passed as URL parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "So Demo.xlsx"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Excel file as a multipart/form-data"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully"
          }
        }
      }
    },
    "/api/report/getReportData": {
      "post": {
        "tags": [
          "Outbound Report APIs"
        ],
        "summary": "Get Report Data",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "layoutId": {
                    "type": "integer",
                    "description": "unique identifier for the layout"
                  },
                  "layoutName": {
                    "type": "string",
                    "description": "unique identifier for the layout"
                  },
                  "entityName": {
                    "type": "string",
                    "description": "Entity Name filters or labels the specific entity, layout target, or config item for the requested report."
                  },
                  "reportId": {
                    "type": "integer",
                    "description": "Report ID identifies the kind of report being requested."
                  },
                  "reportType": {
                    "type": "integer",
                    "description": "Report Type identifies the kind of line data to include in the requested report."
                  },
                  "bookId": {
                    "type": "integer",
                    "description": "Book ID is the ID for the book to be included in the requested report"
                  },
                  "netType": {
                    "type": "integer",
                    "description": "Net Type determines whether the report should present gross values, net values, or another supported balance basis."
                  },
                  "currencyType": {
                    "type": "integer",
                    "description": "Currency Type identifies the currency that should be used for the requested reports."
                  },
                  "download": {
                    "type": "boolean",
                    "description": "True will return all data by compressing the csv file. false will return csv file with first 1000 rows( mainly used for validation)"
                  },
                  "periodId": {
                    "type": "integer",
                    "description": "Period ID identifies the accounting period in which to run the requested report. For waterfall reports, this will be the ending period of the requested report."
                  },
                  "layoutFields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fieldConfigId": {
                          "type": "string",
                          "description": "Field Config ID identifies the report field definition used in the saved layout filter or prompt."
                        },
                        "value": {
                          "type": "string",
                          "nullable": true,
                          "description": "Value is the user-selected filter or prompt value for the corresponding layout field."
                        },
                        "indicator": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Indicator controls field behavior in the layout, such as search, grouping, or other supported flags."
                        }
                      }
                    }
                  },
                  "waterFallType": {
                    "type": "integer",
                    "description": "Waterfall Type determines if requested waterfall report should include actuals, forecast, or both."
                  },
                  "summarized": {
                    "type": "boolean",
                    "description": "Summarized indicates whether the report should return summarized output instead of detailed transaction-level rows."
                  }
                },
                "example": {
                  "layoutId": 0,
                  "reportId": 3,
                  "reportType": 1,
                  "bookId": 1,
                  "netType": 1,
                  "currencyType": 0,
                  "download": true,
                  "periodId": 1,
                  "layoutFields": [
                    {
                      "fieldConfigId": 13,
                      "value": "USD",
                      "indicators": 0
                    }
                  ],
                  "waterFallType": 0,
                  "summarized": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report data fetched"
          }
        }
      }
    },
    "/api/transfer/getTransferBatches": {
      "get": {
        "tags": [
          "Outbound Report APIs"
        ],
        "summary": "Get Transfer Batches",
        "parameters": [
          {
            "name": "periodId",
            "in": "query",
            "required": true,
            "description": "Period ID identifies the accounting period for which the transfer batches are requested",
            "schema": {
              "type": "integer",
              "example": 2210
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer batches retrieved successfully",
            "content": {
              "application/json": {
                "example": [
                  {
                    "batchId": 10031,
                    "status": 1,
                    "postedPeriod": 0,
                    "approveBy": 0,
                    "approveDate": null,
                    "transferBy": 0,
                    "transferDate": null,
                    "ErrorMsg": null,
                    "bookId": 1,
                    "creationDate": "2024-04-29T05:06:40Z",
                    "PeriodCreated": 2404
                  },
                  {
                    "batchId": 10030,
                    "status": 3,
                    "postedPeriod": 0,
                    "approveBy": 1,
                    "approveDate": "2024-04-29T05:06:40Z",
                    "transferBy": 0,
                    "transferDate": null,
                    "ErrorMsg": null,
                    "bookId": 1,
                    "creationDate": "2024-04-29T05:02:17Z",
                    "PeriodCreated": 2404
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/transfer/getEligibleTransferBatches": {
      "get": {
        "tags": [
          "Outbound Report APIs"
        ],
        "summary": "Get Eligible Transfer Batches",
        "responses": {
          "200": {
            "description": "Eligible transfer batches retrieved successfully",
            "content": {
              "application/json": {
                "example": [
                  {
                    "batchId": 10031,
                    "status": 3,
                    "postedPeriod": 0,
                    "approveBy": 0,
                    "approveDate": null,
                    "transferBy": 0,
                    "transferDate": null,
                    "ErrorMsg": null,
                    "bookId": 1,
                    "creationDate": "2024-04-29T05:06:40Z",
                    "PeriodCreated": 2404
                  },
                  {
                    "batchId": 10030,
                    "status": 3,
                    "postedPeriod": 0,
                    "approveBy": 1,
                    "approveDate": "2024-04-29T05:06:40Z",
                    "transferBy": 0,
                    "transferDate": null,
                    "ErrorMsg": null,
                    "bookId": 1,
                    "creationDate": "2024-04-29T05:02:17Z",
                    "PeriodCreated": 2404
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/transfer/getEligibleApproveBatches": {
      "get": {
        "tags": [
          "Outbound Report APIs"
        ],
        "summary": "Get Eligible Approve Batches",
        "responses": {
          "200": {
            "description": "Eligible approve batches retrieved successfully",
            "content": {
              "application/json": {
                "example": [
                  {
                    "batchId": 10031,
                    "status": 1,
                    "postedPeriod": 0,
                    "approveBy": 0,
                    "approveDate": null,
                    "transferBy": 0,
                    "transferDate": null,
                    "ErrorMsg": null,
                    "bookId": 1,
                    "creationDate": "2024-04-29T05:06:40Z",
                    "PeriodCreated": 2404
                  },
                  {
                    "batchId": 10030,
                    "status": 3,
                    "postedPeriod": 0,
                    "approveBy": 1,
                    "approveDate": "2024-04-29T05:06:40Z",
                    "transferBy": 0,
                    "transferDate": null,
                    "ErrorMsg": null,
                    "bookId": 1,
                    "creationDate": "2024-04-29T05:02:17Z",
                    "PeriodCreated": 2404
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/transfer/markTransferred": {
      "put": {
        "tags": [
          "Outbound Report APIs"
        ],
        "summary": "Mark Transfer Batch",
        "parameters": [
          {
            "name": "batchId",
            "in": "query",
            "description": "Transfer Batch Id",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 10019
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer batch marked successfully"
          }
        }
      }
    },
    "/api/transfer/approveTransferBatch": {
      "put": {
        "tags": [
          "Outbound Report APIs"
        ],
        "summary": "Approve Transfer Batch",
        "parameters": [
          {
            "name": "batchId",
            "in": "query",
            "description": "Transfer Batch Id",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 10005
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer batch approved successfully"
          }
        }
      }
    }
  }
}